<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'estilos/atividade.css' %}" />
    <link rel="stylesheet" href="{% static 'estilos/geral.css' %}" />
    <title>Lista de arquivos</title>
  </head>
  <body>
   
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h1>Arquivos</h1>
      <hr/>
      <table class="tabelaArquivos">
        <!-- <thead>
              <tr>
                <th>Classe</th>
                <th>Ano letivo</th>
                <th>Professor</th>
              </tr>
            </thead> -->
        <tbody>
          {%for m in material_aluno%}
          <tr>
            <td>{{m.arquivo}}</td>
            <td>
              <button class="baixarArquivo btn-sm">
                <a href="/baixar_arquivo/{{m.arquivo}}">Baixar</a>
              </button>
            </td>
            <td>
              <button class="visualizarrArquivo btn-sm">
                <a href="/visualizar_arquivo/{{m.arquivo}}?alu={{ra}}"
                  >Visualizar</a
                >
              </button>
            </td>
          </tr>
          <input type="hidden" value="next" value="{{m.alu}}" />
          {% endfor %}
        </tbody>
      </table>
    </form>
  </body>
</html>
