<!DOCTYPE html>
<html lang="pt-br">
  {% load static%}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'estilos/enviar_arquivo.css' %}" />
    <link rel="stylesheet" href="{% static 'estilos/geral.css' %}" />
    <title>Enviar Arquivo</title>
  </head>
  <body>
    <form action="" method="post" enctype="multipart/form-data">
      <h1>Enviar arquivos</h1>
      <hr />
      <select
        id="ra"
        name="classe"
        class="custom-select custom-select-sm input-small"
      >
        <option disabled="true" selected>---Selecione uma classe---</option>
        {%for turma in turmas%}
        <option value="{{turma.classe}}">{{turma.classe}}</option>
        {% endfor %}
      </select>
      {% csrf_token %}
      <button class="btnAtualizar" type="submit" name="atualizar" value="turma">
        Atualizar</button
      ><br />

      <input type="file" id="myFile" name="arquivo" />

      <div class="TurmalTotal">
        {% for aluno in alunos %}
        <div class="aluno">
          {{aluno.ra}}
          <input type="checkbox" id="s" name="ra" value="{{aluno.pk}}" />
          <label class="btn btn-secondary" for="s" value="{{aluno.pk}}"
            >{{aluno.al_nome}}</label
          >
        </div>

        {% endfor %}
      </div>
      <br />
      <div class="button">
        <button id="btn" type="submit" name="enviar" class="link-button" value="enviar">
          Enviar
        </button>
      </div>
    </form>
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}
  </body>
</html>
