<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'estilos/formulario.css' %}">
    <title>Formulario do Professor</title>
</head>

<body>

    <div class="container_form">
        <label class="text_form"> Insira a primeira questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a segunda questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a terceira questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a quarta questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a quinta questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a sexta questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a sétima questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a oitava questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a nona questão para seu formulario: </label>
        <input type="text">
    </div>

    <div class="container_form">
        <label class="text_form"> Insira a décima questão para seu formulario: </label>
        <input type="text">
    </div>


</body>