<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{% static 'estilos/formulario.css' %}">
    <title>Gabarito do Professor</title>
</head>

<body>
    <form method="POST" class="post-form" action="formularioProfessor">
        {% csrf_token %}
    
    <h4>Preencha as respostas do gabarito de seu formulario</h4>


    <div class="container_form"> 
        <label class="txt_Questao">{{questao1}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao1}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao1}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao1}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao1}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao2}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao2}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao2}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao2}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao2}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao3}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao3}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao3}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao3}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao3}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao4}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao4}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao4}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao4}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao4}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao5}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao5}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao5}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao5}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao5}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao6}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao6}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao6}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao6}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao6}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao7}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao7}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao7}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao7}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao7}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao8}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao8}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao8}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao8}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao8}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao9}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao9}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao9}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao9}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao9}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao10}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao10}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao10}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao10}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao10}}</label>
            </div>
    </div>

    <div class="container_form"> 
        <label class="txt_Questao">{{questao1}}<label class="txt_Questao" >
            <div class="botoes">
                <input type="radio" class="btn btn-check" id="radio33" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio33">{{alternativaAquestao1}}</label>
                <input type="radio" class="btn btn-check" id="radio34" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio34">{{alternativaBquestao1}}</label>
                <input type="radio" class="btn btn-check" id="radio35" name="btn-radio9"  minlength="1" required/> 
                <label class="btn" for="radio35">{{alternativaCquestao1}}</label>
                <input type="radio" class="btn btn-check" id="radio36" name="btn-radio9" minlength="1" required/> 
                <label class="btn" for="radio36">{{alternativaDquestao1}}</label>
            </div>
    </div>

    <div class="button">
      <input type="submit" id="btn" value="Enviar Gabarito" />
    </div>

</body>