<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/Professor.css">
    <title>Professor</title>
</head>

<body>
    <div class="btn_logout">
        <button>Logo out</button>
    </div>
    <div class="container_telaProfessor">

        <button type="submit">
            <div class="card">
                <img src="../imagens/icon_Formulario.png" alt="">
                <p>Criar Formulario</p>
            </div>
        </button>
        <button type="submit">
            <div class="card">
                <img src="../imagens/icon_feedback.png" alt="">
                <p>Exibir Feddback</p>
            </div>
        </button>
        <button type="submit">
            <div class="card">
                <img src="../imagens/Icon_Perfil.png" alt="">
                <p>Perfil</p>
            </div>
        </button>
    </div>
    <hr />
    <div class="container_telaProfessor">
        <button type="submit">
            <div class="card">
                <img src="../imagens/icon_turmas.png" alt="">
                <p>Turma exemplo</p>
            </div>
        </button>
    </div>
</body>

</html>