body {
  font-family: "Roboto", sans-serif;
}

header {
    background-color:aqua;
    display: flex;
    gap: 3em;
}

header img {
    width: 3em;
    padding: 0.5em;
}

/* table.tableHeaderProfessor td {
    border-right: solid 1.5px;
    border-left: solid 1.5px;
    padding: 0.5em;
} */

table.tableHeaderProfessor td a {
    text-decoration: none;
    color: #000;
    /* border-right: solid 1px; */
    border-left: solid 1px;
    padding: 1.45em;
}


table.tableHeaderProfessor td a:hover  {
    border: 2px solid #000;
    color: black;
    background-color: #acafb6;
}