<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/home.css">
    <title>Cadastro de Professor</title>
</head>

<body class="Cadastro">
    <div class="loginPage CadastroProfessor">
        <div class="container_textoHome">
            <div class="iconLogin">
                <img src="../imagens/education.png" alt="">
            </div>
            <h1 style="color: #5a9bd5 ;">Cadastro de Professor</h1>
        </div>
        <div class="container_CadastroProfessor">
            <div class="campos_flex">
                <div class="label-float">
                    <input type="text" placeholder=" " />
                    <label>Nome Completo</label>
                </div>
                <div class="label-float">
                    <input type="text" placeholder=" " />
                    <label>E-mail</label>
                </div>
            </div>
            <div class="campos_flex">
                <div class="label-float">
                    <input type="date" placeholder=" " />
                    <label>Data de Nascimento</label>
                </div>
                <div class="label-float">
                    <input type="text" placeholder=" " />
                    <label>Matéria</label>
                </div>
            </div>
            <div class="campos_flex">
                <div class="label-float">
                    <input type="password" placeholder=" " />
                    <label>Senha</label>
                </div>
                <div class="label-float">
                    <input type="password" placeholder=" " />
                    <label>Confirme a Senha</label>
                </div>
            </div>

            <button class="btn" type="submit" value="CriaConta">Criar</button>
        </div>

    </div>
</body>

</html>