<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos/home.css">
    <title>Login</title>
</head>

<body>
    <div class="loginPage">
        <div class="container_textoHome">
            <div class="iconLogin">
                <img src="../imagens/education.png" alt="">
            </div>
            <h1 style="color: #5a9bd5 ;">
                Bem vindo ao <span style="color: #000;">SAE</span>
            </h1>

        </div>
        <div class="container_login">
            <div class="label-float">
                <input type="text" placeholder=" " />
                <label>Usuário</label>
            </div>
            <div class="label-float">
                <input type="password" placeholder=" " />
                <label>Senha</label>
            </div>
            <div class="botoes">
                <button class="btn" type="submit" value="Entrar">Entrar</button>
                <button class="btn" type="submit" value="CriaConta">Criar conta</button>
            </div>
        </div>

    </div>
</body>

</html>